!!!html
%html
  %head
    %meta{content: "IE=edge", 'http-equiv' => "X-UA-Compatible"}
    %meta{name: "google-site-verification", content: "UJK6qhrNtvcJT4o2puqtXMtf4edSp9b32IUt64ZwdlE"}
    %meta{charset: "utf-8"}
    %meta{content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: "viewport"}

    // Use title if it's in the page YAML frontmatter

    %style{type: "text/css"}
      #mc_embed_signup {
      background:#fff;
      clear:left; font:14px Helvetica,Arial,sans-serif;
      }
      
    %title
      = current_page.data.title || "Middleman"
    = stylesheet_link_tag "//cdn-images.mailchimp.com/embedcode/slim-10_7.css"

    %link{href: '//fonts.googleapis.com/css?family=Lato:300,400', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}

    = stylesheet_link_tag :prism
    = stylesheet_link_tag :site
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag :prism
    = javascript_include_tag :all

  %body{class: "container #{page_classes} #{current_page.data['page_class']}"}
    .col-xs-12
      = yield
      .code-insert
        %a#code-insert
        %pre#code-insert
          %code.language-javascript.language

      - if "#{page_classes} #{current_page.data['page_class']}".split(/\s+/).include? 'lesson'
        = link_to "Next Lesson", next_lesson_url('javascript', current_page.data['lesson_index']), class: 'next_lesson_link'
      #disqus_thread
    #menulink
      .site-header
        .index-link
          = link_to 'Index', '/'
        .title
          Hover for Menu
        .menu-items
          .item.action-text.menu-action{'data-action' => 'toggle_code'}
            Toggle Code
          .item.menu-action
            %a{href:'https://docs.google.com/document/d/1f7PxEwWNzDqrl3bjSmpFxUmtM2SEWfGS452t51OWY5A/edit#heading=h.c430o642hrcy'}
              Codenvy Configuration Manual
          .item.menu-action
            Sponsor: 
            %a{href:'https://www.dstrategies.org/'}
              Digital Strategies
            (
            %a{href:'https://www.dstrategies.org/#contact'}
              Contact Us
            )
    %script
      var disqus_config = function () {
      this.page.url = 'https://www.javascriptlessons.site/#{current_page.path}'; 
      this.page.identifier = '#{current_page.path}';
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//javascripttutorials.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58902823-2', 'auto');
      ga('send', 'pageview');

    // mailchimp
    .row
      .mc_embed_signup.col-xs-12
        %form.validate#mc-embedded-subscribe-form{action: "//site.us13.list-manage.com/subscribe/post?u=88834c2d9adaa52b12e9364c7&amp;id=9c2cf9e0d7", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: true}
          .mc_embed_signup_scroll
          %label{for: "mce-EMAIL", style: 'display: block'}
            Subscribe to our mailing list
          %input.email.form-control#mce-EMAIL{type: "email", value: "", name: "EMAIL", placeholder: "email address", required: true, style: 'display: inline-block'}

          %div{style: "position: absolute; left: -5000px;", "aria-hidden" => "true"}
            %input{type: "text", name: "b_88834c2d9adaa52b12e9364c7_9c2cf9e0d7", tabindex: "-1", value: ""}
          .clear-my{style: 'width: 25%'}
            %input.btn.btn-primary.button#mc-embedded-subscribe{type: "submit", value: "Subscribe", name: "subscribe", style: 'display: inline-block'}
    = partial 'partials/footer'

    %noscript
      Please enable JavaScript to 
      %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
        view and submit comments.
